<a href="https://colab.research.google.com/github/sarkar2527/Scaler_Sai/blob/main/For_loop_cont_break_pass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(1,11): #range(start,stop,step).step size by default 1. 11 is excluded.
  print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [3]:
list(range(1,11,1)) # if step size is positive, will go from left to right. starting number should be less than the ending number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list(range(11,1,-1)) # if step size is negative, will go from right to left. starting number should be greater than the ending number

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [7]:
#find the sum of natural number

n = int(input("enter the num: "))

total_sum = 0

for i in range(1,n+1): # Range will exclude the last numnber. To include last number, used n+1
  total_sum = total_sum + i

print(total_sum)

enter the num: 5
15

In [8]:
#print the Number in desc order
n = int(input("enter the num: "))

for i in range(n,0,-1):
  print(i)

enter the num: 4
4
3
2
1

Solve the same problem without negative index

In [10]:
n = int(input("enter the num: "))

for i in range(1,n+1):
  print(i, n-i+1 )

enter the num: 5
1 5
2 4
3 3
4 2
5 1

In [12]:
# Write a code to print 1,4,7,10,13,16

for i in range(1,17,3):
  print(i, end= ",")

1,4,7,10,13,16,

In [13]:
# I don't want comma at the end"


for i in range(1,17,3):
  if i ==16:
    print(i,end="")
  else:
    print(i, end= ",")

1,4,7,10,13,16

In [15]:
# Get the input from the user

n = int(input("Enter the number"))

for i in range(1,n+1,3):
  if i == n:
    print(i,end ="")
  else:
    print(i,end =",")

Enter the number16
1,4,7,10,13,16