<a href="https://colab.research.google.com/github/sarkar2527/Scaler_Sai/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##List
** List is a collection of similar or different types of data items.

** List is defined in square bracket

** List is mutable in nature which means that elements in the list can be modified.

** List allows duplicate values.

In [1]:
# Creating a list

l1 = [1,2,"Sai", 4, 56, 5.7]
l1

[1, 2, 'Sai', 4, 56, 5.7]

In [2]:
# Checking the data type
type(l1)

list

In [4]:
#Accessing the element through postive index
print(l1[3])

#Accessing the element through negative index
print(l1[-1])

4
5.7

In [6]:
#Checking the index position of elements in the list
l1.index(56)

4

In [5]:
#Counting the elements in the list
len(l1)

6

In [7]:
#Adding elements to the list
# Append function will always add the value at the last position of the list
l1.append("Kumar")
l1

[1, 2, 'Sai', 4, 56, 5.7, 'Kumar']

In [8]:
#Adding elements again to the list
l1.append("Abi")
l1

[1, 2, 'Sai', 4, 56, 5.7, 'Kumar', 'Abi']

In [10]:
#Adding the element at specific index position.
#Insert takes 2 parameters. 1 is index position where you want to add
# 2 is value you want to add to the list.
l1.insert(2,"Suresh")
l1

#Adding the element through negative index
l1.insert(-1,"Mithran")
l1

[1, 2, 'Suresh', 'Suresh', 'Sai', 4, 56, 5.7, 'Kumar', 'Mithran', 'Abi']

In [14]:
#Extending the list. Merging 1 list with other.
l2 = [4,6,7]
l1.extend(l2)
print(l1)
print(l2)

[1, 2, 'Suresh', 'Suresh', 'Sai', 4, 56, 5.7, 'Kumar', 'Mithran', 'Abi', 4, 6, 7, 4, 6, 7]
[4, 6, 7]

In [16]:
#Removing the element from the list
l1.pop()

# Pop command by default will remove the last element from the list.
print(l1)

[1, 2, 'Suresh', 'Suresh', 'Sai', 4, 56, 5.7, 'Kumar', 'Mithran', 'Abi', 4, 6, 7, 4]

In [19]:
# We can remove the specific index position value using Pop command
# Mention tne index position of value inside the pop command
l3 = [1,2,"abc", [2,5]]
l3.pop(2)
print(l3)

[1, 2, [2, 5]]

In [21]:
# Removing the value directly by mentioning the value itself.
# Removing the value not by index position
l4 = [1,2,5,6,"sai", "abc"]
l4.remove("abc")
print(l4)

[1, 2, 5, 6, 'sai']