<a href="https://colab.research.google.com/github/sarkar2527/Scaler_Sai/blob/main/Python_1_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ScalerDay 28_Python_Day 01_21-Jan-2025

In [3]:
#Take a name A as input from the user and print "Hello A", where A is the name in input.
A = input()
print("Hello", A)

Sai
Hello Sai

In [4]:
#Print the output of 6+3, 6-3, 6*3, 6/3 in separate lines.

print(6+3, 6-3, 6*3, 6/3, sep = "\n") #sep ="\n" - it will print everything in new line

9
3
18
2.0

In [5]:
'''Your friend Rahul plans to visit exotic countries all around the world. Sadly, Rahul's math skills aren't good enough.
Take the amount of money Rahul has before the currency exchange and the amount of money that is spent from his savings as input,
print the amount of money that remains in his savings after the currency exchange '''

money_before_exchange = int(input())
money_spent = int(input())
print(money_before_exchange - money_spent)

100
10
90

In [10]:
#Take two names A and B as input from the user, print "A says Hi to B" (Without quotations), where A and B are the names in input.

A = input()
b = input()

print(A, "says Hi to", b)

sai
abi
sai says Hi to abi
f{A} says Hi to {B}

In [12]:
'''You wrote some code to help you cook a gorgeous lasagna from your favorite cookbook.
Now, you want to find the total number of minutes you've been cooking for the sum of your preparation time and the time the lasagna has already spent baking in the oven.
The preparation time of one layer is 2 minutes.
Given the number of layers added to the lasagna and the number of minutes the lasagna has been baking in the oven,
find the total elapsed cooking time (prep + bake) in minutes '''

N = 2

cooking_time = int(input())
preptime = N * cooking_time

baketime = int(input())

total_time = preptime + baketime

print(total_time)

3
20
26

In [13]:
'''Take two strings "str1" and "str2" as input. Then your task is to concatenate the two strings and print the resultant
concatenated string.'''

str1 =int()
str2 = int()

str1 = input()
str2 = input()

print(str1 + str2)

sai
abi
saiabi

In [14]:
#2) Print your name and your favorite hobby in two separate lines using a single print statement.

print("sai", "Watching Movies", sep="\n")

sai
Watching Movies

In [16]:
#5) Create a variable radius with a value of 5. Calculate and print the area of a circle using the formula  pi*r*r , assuming  pi = 3.14 .

pi = 3.14
r = 5
print(pi*r**2)

78.5

In [17]:
#6) Declare three variables a = 5, b = 10, and c = 15. Swap the values of a and b without using a temporary variable.
a=5
b=10
c=15
a,b = b,a
print(a,b)

10 5

In [18]:
# Write a program to ask the user for their name and age. Print a message: `Hello <name>, you are <age> years old.

name = input()
age = int(input())
print("Hello", name, "you are", age, "years old.")

sai
23
Hello sai you are 23 years old.

In [20]:
#Ask the user for the length and width of a rectangle. Calculate and display its area and perimeter.
l = int(input("Enter the length of the rectangle: "))
w = int(input("Enter the width of the rectangle: "))

area = l * w
perimeter = 2 * (l + w)

print("The area of the rectangle is:", area)
print("The perimeter of the rectangle is:", perimeter)

Enter the length of the rectangle: 10
Enter the width of the rectangle: 20
The area of the rectangle is: 200
The perimeter of the rectangle is: 60

#ScalerDay 29_Python_Day02_Operators_23-Jan-2025

In [28]:
#Arithmetic Operators
#Add,Sub,MUL,Div,Exponent,Floor division, Modulas
print(5 + 5)    # int + int --> int
print(5.0 + 5)   # float + int --> float
print(10 / 5) # divison operator will always give output as float
print(2 ** 3) #Exponent (To the power)
print(10 // 3) #Floor Divison
print(-10//3) #Floor Divison
print(10 % 3) #Modulus (Remainder)
print(- 10 / 3)

10.0
2.0
8
3
-4
1
-3.3333333333333335
-4

In [29]:
x = 10
y = 3

print("Remainder", x%y)
print("Floor Divison", x//y)

Remainder 1
Floor Divison 3

In [32]:
print(bool(0))
print(bool())# Except these 2 remaining all true if you put anything inside bool()
print(bool(100))
print(bool("asbkldasd"))

False
False
True
True

In [33]:
# Comparison Operator

print(10<3)
print(10>3)
print(10<=3)
print(10>=3)
print(10==3)
print(10!=3)

False
True
False
True
False
True

In [34]:
# Assignment Operator (sinle equal to =)

a =12
print(a)

12

In [35]:
# Logical Operators

print(10<2 and 10>3)
print(10<2 or 10>3)
print(not(10<2 or 10>3))

False
True
False